---
title: parsingphase.dev
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/11ty.css" />
    <link rel="stylesheet" href="/assets/css/style.scss" />
  </head>
  <body>
  <header>
  <h1>{{ title }}</h1>
  <hr />
  </header>
  <article>
    {{ content | safe }}
  </article>
  </body>
</html>