---
---

@import "{{ site.theme }}";
h3 { color: black }
a { color: #444 }
header h2 { display: none }
section#downloads { display: none }

ul li {
  list-style-position: inside;
  list-style: none;
  padding-left: 0px;
}

//ul li::before {
//  content: '';
//}