---
---

@import "{{ site.theme }}";

body {
  //color: #555
}

p {
  font-weight: normal
}

h2, h3 {
  color: black;
  margin-top: 1.2em;
}

a {
  color: #444
}

header h2 {
  display: none
}

section#downloads {
  display: none
}

ul li {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0.4em;
}

ul li::before {
  //content: '-';
  //padding-right: 0.4em;
}