---
---

@import "{{ site.theme }}";

body {
  //color: #555
}

p {
  font-weight: normal
}

p.nav {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  color: black;
  margin-top: 0.4em;
}

h3 {
  color: black;
  margin-top: 1.2em;
}

a {
  color: #303030
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}

p strong a {
  font-weight: bold;
  color: #404040;
}

header {
  padding: 5px 0;
}

header h1 {
  display: none
}

header h2 {
  //color: black;
  //font-size: 2em;
  //font-weight: bolder;
  //margin: 0;

  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
}

section#downloads {
  display: none; // shows as blank space even with show_downloads: false
}

ul li {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 0.4em;
}

ul li::before {
  //content: '-';
  //padding-right: 0.4em;
}

ol ul {
  margin-bottom: 0;
}

ol > li {
  margin-bottom: 0.6em;
}